*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none; /* optional; removes focus ring (be careful with accessibility) */
}

html,
body {
  width: 100%;
  height: 100vh;
}

:root {
  /* Colors */
  --grey-900: #141414;
  --grey-800: #1f1f1f;
  --grey-700: #333;
  --green: #c4f82a;
  --white: #fff;

  /* Fonts */
  --font-family: "Inter", sytem-ui, -apple-sytem, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;

  /* Spacing */
  --space-50: 0.25rem;
  --space-100: 0.5rem;
  --space-150: 0.75rem;
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-500: 2.5rem;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/inter-v20-latin-regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(./fonts/inter-v20-latin-700.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-900);
}

.text-preset-1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0px;
}

.text-preset-2-bold {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0px;
}

.card-container {
  width: 90%;
}

.card {
  background-color: var(--grey-800);
  color: var(--white);
  padding: var(--space-300);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card__color-green {
  color: var(--green);
}

.attribution {
  display: none;
}

.profile-image {
  border-radius: 50%;
  object-fit: cover;
  width: 88px;
}

button {
  background-color: var(--grey-700);
  padding: 0.75rem;
  width: 100%;
  border-radius: 8px;
}

button + button {
  margin-top: var(--space-200);
}
